@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
body {
  color: var(--foreground);
  background-color: #f4f4f4 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  background-color: #28243d !important;
  color: whitesmoke !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.heading2 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.shade {
  color: #a8a8a8;
}

.unselectcolor {
  color: #808080 !important;
}

.dropdowncolor {
  color: #6d6777;
}

.textheader {
  color: #6d6777 !important;
}

.dark .textheader {
  color: #e7e3fc !important;
}

.dark .unselectcolor {
  color: #b0acc7 !important;
}

.dark .shade {
  color: #747089 !important;
}

.dark .dropdowncolor {
  color: #e7e3fc;
}

.sorttablecolor {
  color: #707070 !important;
}

.para {
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500;
}

.para2 {
  font-family: "Inter", sans-serif;
  font-size: 12px !important;
}

.ellipsis-applied {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mutlicolourbtn {
  color: #ffffff;
  background-color: #ff6363;
  border: 0px;
  outline: 0;
  border-radius: 5px;
  transition: 1s;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.row {
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.approvestatus {
  background: rgba(86, 202, 0, 0.16);
  color: #56ca00;
  border-radius: 20px;
  font-weight: 500;
}

.outlinebtn {
  background-color: transparent !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 600;
}

.pinkbtn {
  border: 1px solid #8c57ff;
  background: var(--add-details-timesheet, #8c57ff);
  color: #ffffff;
}

.dashboardcard {
  border-radius: 10px;
  background: #fff;
}

.dark .dashboardcard {
  border-radius: 10px;
  background: #312d4b;
}

.normalTextStyles {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  overflow-x: hidden;
}

.cursorpointer {
  cursor: pointer;
}
.employreports::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

.hiddenoverflow::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px gray;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bcbbbd;
  border-radius: 10px;
  cursor: pointer !important;
}

.roundDot {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.dark .notificationround {
  border: 1px solid #28243d !important;
}

.css-1075y7p-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: white !important;
  background: #eda1a1;
}

.summarysection {
  background: white;
  width: 47%;
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
}

.dark .summarysection {
  background: #28243d !important;
  box-shadow: rgba(38, 38, 40, 0.1) 0px 0px 16px;
}

.showpopup {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  background: rgba(27, 26, 26, 0.288);
  z-index: 1132;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
}

.showpopupactive {
  transform: translateZ(0);
}

.tabletype th {
  background-color: transparent !important;
}

th {
  white-space: nowrap !important;
  font-weight: 600 !important;
}
.rotatearrow{
  rotate: -180deg;
}
.searchbar {
  background: white;
  border-radius: 10px !important;
}
.tabletype {
  width: 100%;
  border-collapse: collapse;
}

.tabletype thead {
  position: sticky;
  top: 0;
  background-color: #F6F7FB; /* Ensure background is set */
}

.tabletype th {
  padding: 10px;
  text-align: left;
}

.stickyheader {
  overflow-x: auto;
  height: 400px; /* Adjust height as needed */
}
.stickyheader::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;

}
.dark .searchbar {
  background: #312d4b;
  border-radius: 10px !important;
}
input {
  outline: 0px !important;
}
.searchbar input {
  border: 0 !important;
  background: transparent;
  padding-left: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
}
.fileupload {
  border-radius: 5px;
  border: 1px dashed #8c57ff;
  background: #fff;
  position: relative;
}
.dark .fileupload {
  background: #312d4b !important;
}

.fileupload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 11;
}
.leftborders {
  border-left: 1px solid #8d8d8d4f;
}

.borderright {
  border-right: 1px solid #8d8d8d4f;
}
.timesheetdetails {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.employreports{
  height: 300px;
}
@media (max-width: "600px") {
  .theme {
    width: 50vw !important;
  }
  
}

/* Login Screens styles */

.login {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}

.error-text {
  color: #ff6363;
  font-size: "12px";
  font-family: Inter;
  font-weight: 500;
}

.logincard {
  width: 70% !important;
  border-radius: 10px;
}

.logogif img {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 35%;
}

.logincard {
  width: 60%;
}

.form_filed input {
  width: 100%;
  outline: 0;
  border: 1px solid #707070;
  border-radius: 5px;
}

.form_filed input::placeholder {
  color: #a8a8a8;
  font-size: 15px;
  font-weight: 400;
}

.forgetpassword {
  color: blue;
}

.timer {
  justify-content: space-between;
}

.row {
  width: 100%;
  margin: 0px !important;
}


@media (min-width: 300px) and (max-width: 600px) {
  .logogif {
    display: none !important;
  }
  .employreports{
    height:  fit-content !important;
  }
  .login {
    background: #ffffff;
  }

  .logo img {
    width: 34%;
  }

  .logogif {
    display: none;
  }

  .logincard {
    width: 92%;
  }

  .logincard {
    width: 100% !important;
  }

  .login .col-sm-6:nth-child(2) {
    justify-content: center;
  }

  .summarysection {
    width: 100% !important;
  }

  .leftborders {
    border-left: 0px solid #8d8d8d4f;
  }

  .borderright {
    border-right: 0px solid #8d8d8d4f;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .summarysection {
    width: 70% !important;
  }
}

.accordion-button:focus {
  box-shadow: unset !important;
}

.accordion-button {
  background-color: transparent;
}

.accordion-button:after {
  margin-left: 10%;
}

.accordion-button:not(.collapsed) {
  box-shadow: unset !important;
  background-color: transparent !important;
}

.collapse {
  visibility: inherit !important;
}

.accordion-item {
  background-color: unset !important;
}

.accordion-body {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.accordion-button:after {
  background-image: url(/assets/img/keyboard_arrow_down.png) !important;
}
.rotatingText-content {
  position: relative;
  width: 100%;
}

.rotatingText-adjective {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  left: 0;
  margin-bottom: 0;
  margin-top: 30px;
  opacity: 0;
  color: white;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  animation: rotate-text-up 6s linear infinite;

  @media (min-width: 768px) {
    font-size: 70px;
  }
}

.rotatingText-adjective:nth-of-type(1) {
  animation-delay: 0s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation-delay: 2s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-delay: 4s;
}

/* Paginatinon CSS */
.page-item {
  color: #707070;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: fit-content;
  padding: 8px 12px;
}

.page-item.active {
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: red;
  border: none;
  border-radius: 50%;
  height: fit-content;
  padding: 8px 12px;
}

@keyframes rotate-text-up {
  0%,
  20% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  30%,
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

select {
  outline: 0 !important;
  border: 0 !important;
}

.selectborder {
  border: 1px solid #dee2e6 !important;
}
.borderbottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.sorttable.table > :not(caption) > * > * {
  background-color: transparent !important;
}

.form-control:focus {
  border-color: #00000021 !important;
  outline: 0;
  box-shadow: none !important;
}

.dark thead {
  background-color: rgb(91 101 141) !important;
}

tbody td {
  background-color: unset !important;
}
tbody{
  cursor: n-resize;
}
.dark select {
  background-color: #312d4b !important;
}
.tools .dropdown-toggle:after{
  display: none;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: unset !important;
}
.dark input {
  background-color: #312d4b !important;
  border: 0px !important;
}

.dark textarea {
  background-color: #312d4b !important;
  border: 0px !important;
}
