.normalTextStyles {
  color: "#707070";
  font-family: Inter;
  font-size: 12px !important;
  font-weight: 400;
}

.draggable {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.draggable:active {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.timer {
  font-size: 25rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
  color: #444;
}

.diffuse {
  font-size: 5rem;
  margin-bottom: 190rem;
  text-align: center;
  text-transform: uppercase;
}

.deletepopup {
  align-self: center;
  width: 500px;
}
.deletePopupTopHeaderStyle {
  opacity: 0.5;
  height: 50px;
}
.deletePopupContentSection {
  background: white;
  height: fit-content;
  margin-top: -20px;
}
.deleteIcon {
  background: #ff6363;
  border-radius: 50%;
  position: relative;
  top: -30px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px;
}
